@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.page-banner {
	position: relative;
}

.overlay-dark::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(52, 53, 49, 0.7);
	z-index: 1;
}

.iconText {
	font-size: 1.4rem;
	font-style: italic;
	-webkit-text-fill-color: #4e4e4e;
	-webkit-text-stroke: 1px #000;
}

.AboutUs {
	position: relative;
	width: 8rem;
	content: '';
	height: 3px;
	left: 0;
	bottom: -40px;
	background-color: #008aee;
}

.appearance-none {
	outline-color: none !important;
}

.asb .pt-4 {
	padding-top: 0 !important;
}
.ant-steps-item-description {
	height: 3rem;
}
